.box-card {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1024px) {
  .box-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .box-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .box-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
